extends layout

block content
  div.container-fluid
    div.panel.panel-default
      div.panel-heading
        h3= title
      div.panel-body
        each car  in cars
          div.row.top-buffer
            div.col-md-4
              img.img-responsive.img-thumbnail('src'=(car.photos? car.photos[0]:'') )

            div.col-md-8
              div.row
                div.col-md-12
                  a('href'=car.site + car.relativeUrl) #{car.title}

              div.row
                div.col-md-4
                  dl
                    dt
                      |телефон:
                    dd
                      |#{car.phone}
                    dd
                      |#{car.seller}
                    dt
                      |Цена
                    dd
                      |<strong>$ #{car.priceUSD}</strong> (#{car.priceUAH} грн.)
                div.col-md-8
                  |#{car.description}



