extends layout

block content
  h1= title
  p Welcome to #{title}
  table
    each car  in cars
      tr
        td(rowspan=2)
          img('src'=(car.photos? car.photos[0]:''))
        td
          a('href'=car.site + car.relativeUrl) #{car.title}
        td
           |$  #{car.priceUSD} #{car.priceUAH} грн.
      tr
        td
          |телефон: #{car.phone} #{car.seller}
          div
            #{car.description}


